# CHAPTER-04. 데이터의 부분 집합 선택

- 레이블, 위치 로 데이터 선택

## Series 데이터 선택

In [1]:
import pandas as pd

college = pd.read_csv("../data/college.csv", index_col = "INSTNM")
city = college["CITY"]
city.head()

INSTNM
Alabama A & M University                   Normal
University of Alabama at Birmingham    Birmingham
Amridge University                     Montgomery
University of Alabama in Huntsville    Huntsville
Alabama State University               Montgomery
Name: CITY, dtype: object

In [2]:
city.iloc[3] # index location

'Huntsville'

In [3]:
city.iloc[[1, 2, 3]]

INSTNM
University of Alabama at Birmingham    Birmingham
Amridge University                     Montgomery
University of Alabama in Huntsville    Huntsville
Name: CITY, dtype: object

In [4]:
city.iloc[4:50:10] # index 4 부터 50 까지 10 간격으로

INSTNM
Alabama State University              Montgomery
Enterprise State Community College    Enterprise
Heritage Christian University           Florence
Marion Military Institute                 Marion
Reid State Technical College           Evergreen
Name: CITY, dtype: object

In [5]:
city.loc["Alabama State University"] # loc : 레이블 값으로

'Montgomery'

In [6]:
import numpy as np

np.random.seed(1)
labels = list(np.random.choice(city.index, 4)) # index  4개 추출
print(labels)
city.loc[labels]

['Northwest HVAC/R Training Center', 'California State University-Dominguez Hills', 'Lower Columbia College', 'Southwest Acupuncture College-Boulder']

INSTNM
Northwest HVAC/R Training Center                Spokane
California State University-Dominguez Hills      Carson
Lower Columbia College                         Longview
Southwest Acupuncture College-Boulder           Boulder
Name: CITY, dtype: object

In [7]:
city.loc["Northwest HVAC/R Training Center": "Southwest Acupuncture College-Boulder" : 2] #loc 에서도 간격 슬라이스 표기 사용 가능

INSTNM
Northwest HVAC/R Training Center                              Spokane
Michigan Jewish Institute                                W Bloomfield
Florida College of Integrative Medicine                       Orlando
Strand College of Hair Design                            Myrtle Beach
Branford Hall Career Institute-Southington Campus         Southington
ITT Technical Institute-Arnold                                 Arnold
ITT Technical Institute-Albany                                 Albany
Ilisagvik College                                              Barrow
Golf Academy of America-Myrtle Beach                     Myrtle Beach
White Earth Tribal and Community College                     Mahnomen
Blue Cliff College-Metairie                                  Metairie
Dewey University-Carolina                                    Carolina
University of Phoenix-Maryland                               Columbia
Central Career Institute LLC                         South Plainfield
Montessori Institute of Milwaukee                           Milwaukee
Pryor Beauty College                                            Pryor
Mr Leon's School of Hair Design-Lewiston                     Lewiston
Vatterott College-Sunset Hills                           Sunset Hills
Name: CITY, dtype: object

In [8]:
city.iloc[[3]] # iloc 에 리스트 전달하면 시리즈

INSTNM
University of Alabama in Huntsville    Huntsville
Name: CITY, dtype: object

In [9]:
city.loc["Reid State Technical College": "Alabama State University": 10] # 앞 인덱스가 뒤 인덱스보다 크면 오류메시지 없이 그냥 빈 시리즈

Series([], Name: CITY, dtype: object)

## DataFrame 행 선택

In [10]:
college.head(3)

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,4206.0,...,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888
University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,11383.0,...,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5
Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,291.0,...,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370

In [11]:
college.iloc[1] # 1번 인덱스의 행

CITY                  Birmingham
STABBR                        AL
HBCU                           0
MENONLY                        0
WOMENONLY                      0
RELAFFIL                       0
SATVRMID                     570
SATMTMID                     565
DISTANCEONLY                   0
UGDS                       11383
UGDS_WHITE                0.5922
UGDS_BLACK                  0.26
UGDS_HISP                 0.0283
UGDS_ASIAN                0.0518
UGDS_AIAN                 0.0022
UGDS_NHPI                 0.0007
UGDS_2MOR                 0.0368
UGDS_NRA                  0.0179
UGDS_UNKN                   0.01
PPTUG_EF                  0.2607
CURROPER                       1
PCTPELL                    0.346
PCTFLOAN                  0.5214
UG25ABV                   0.2422
MD_EARN_WNE_P10            39700
GRAD_DEBT_MDN_SUPP       21941.5
Name: University of Alabama at Birmingham, dtype: object

In [12]:
 college.loc["University of Alabama at Birmingham"] #위와 동일; 1번째 인덱스의 레이블값.

CITY                  Birmingham
STABBR                        AL
HBCU                           0
MENONLY                        0
WOMENONLY                      0
RELAFFIL                       0
SATVRMID                     570
SATMTMID                     565
DISTANCEONLY                   0
UGDS                       11383
UGDS_WHITE                0.5922
UGDS_BLACK                  0.26
UGDS_HISP                 0.0283
UGDS_ASIAN                0.0518
UGDS_AIAN                 0.0022
UGDS_NHPI                 0.0007
UGDS_2MOR                 0.0368
UGDS_NRA                  0.0179
UGDS_UNKN                   0.01
PPTUG_EF                  0.2607
CURROPER                       1
PCTPELL                    0.346
PCTFLOAN                  0.5214
UG25ABV                   0.2422
MD_EARN_WNE_P10            39700
GRAD_DEBT_MDN_SUPP       21941.5
Name: University of Alabama at Birmingham, dtype: object

In [13]:
college.iloc[[60,90,3]] # 60번 90번 3번 행

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
University of Alaska Anchorage,Anchorage,AK,0.0,0.0,0.0,0,NaN,NaN,0.0,12865.0,...,0.0980,0.0181,0.0457,0.4539,1,0.2385,0.2647,0.4386,42500,19449.5
Empire Beauty School-Flagstaff,Flagstaff,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,60.0,...,0.0333,0.0000,0.0000,0.0000,1,0.7381,0.6786,0.3208,17800,10050
University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,5451.0,...,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097

In [14]:
college.iloc[66:70:2] #66번 ~ 70번 행 2 간격으로

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
Charter College-Anchorage,Anchorage,AK,0.0,0.0,0.0,0,NaN,NaN,0.0,3256.0,...,0.0436,0.0,0.0393,0.0000,1,0.8307,0.7503,0.5472,39200,13875
Everest College-Phoenix,Phoenix,AZ,0.0,0.0,0.0,1,NaN,NaN,0.0,4102.0,...,0.0373,0.0,0.1026,0.4749,0,0.8291,0.7151,0.6700,28600,9500

## DataFrame의 행과 열을 동시에 선택하기

- \[rows, cols\] 로 하면 됨.

In [15]:
college.iloc[:4, :5] # 3 행, 4열 까지.

,CITY,STABBR,HBCU,MENONLY,WOMENONLY
INSTNM,,,,,
Alabama A & M University,Normal,AL,1.0,0.0,0.0
University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0
Amridge University,Montgomery,AL,0.0,0.0,0.0
University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0

In [16]:
college.loc[:"University of Alabama in Huntsville",: "WOMENONLY"] # 위와 같음

,CITY,STABBR,HBCU,MENONLY,WOMENONLY
INSTNM,,,,,
Alabama A & M University,Normal,AL,1.0,0.0,0.0
University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0
Amridge University,Montgomery,AL,0.0,0.0,0.0
University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0

In [17]:
college.iloc[[100,200], [7,15]]

                                       SATMTMID  UGDS_NHPI
INSTNM
GateWay Community College                   NaN     0.0029
American Baptist Seminary of the West       NaN        NaN

In [18]:
college.iloc[90:80: -2, [5]]

                                 RELAFFIL
INSTNM
Empire Beauty School-Flagstaff          0
Charles of Italy Beauty College         0
Central Arizona College                 0
University of Arizona                   0
Arizona State University-Tempe          0

In [19]:
college.iloc[80: 90: 2, [5]]

                                 RELAFFIL
INSTNM
Arizona Automotive Institute            0
Arizona State University-Tempe          0
University of Arizona                   0
Central Arizona College                 0
Charles of Italy Beauty College         0

## 정수와 레이블을 동시에 사용해 데이터 선택

In [20]:
col_start = college.columns.get_loc("UGDS_WHITE")
col_end = college.columns.get_loc("UGDS_UNKN") + 1
print(col_start,col_end)

college.iloc[:5, col_start : col_end] # 4행 까지, white 열 부터 unkn 열 까지.

10 19

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Alabama A & M University,0.0333,0.9353,0.0055,0.0019,0.0024,0.0019,0.0000,0.0059,0.0138
University of Alabama at Birmingham,0.5922,0.2600,0.0283,0.0518,0.0022,0.0007,0.0368,0.0179,0.0100
Amridge University,0.2990,0.4192,0.0069,0.0034,0.0000,0.0000,0.0000,0.0000,0.2715
University of Alabama in Huntsville,0.6988,0.1255,0.0382,0.0376,0.0143,0.0002,0.0172,0.0332,0.0350
Alabama State University,0.0158,0.9208,0.0121,0.0019,0.0010,0.0006,0.0098,0.0243,0.0137

In [21]:
# 10행 부터 15행 까지, white 부터 unkn 열 까지
# loc 으로

row_start = college.index[10]
row_end = college.index[15]

college.loc[row_start: row_end, "UGDS_WHITE": "UGDS_UNKN"] # 10 ~ 15행 출력, loc 은 뒤에거 제외 안함.

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Birmingham Southern College,0.7983,0.1102,0.0195,0.0517,0.0102,0.0000,0.0051,0.0000,0.0051
Chattahoochee Valley Community College,0.4661,0.4372,0.0492,0.0127,0.0023,0.0035,0.0151,0.0000,0.0139
Concordia College Alabama,0.0280,0.8758,0.0373,0.0093,0.0000,0.0000,0.0031,0.0466,0.0000
South University-Montgomery,0.3046,0.6054,0.0153,0.0153,0.0153,0.0096,0.0000,0.0019,0.0326
Enterprise State Community College,0.6408,0.2435,0.0509,0.0202,0.0081,0.0029,0.0254,0.0012,0.0069
James H Faulkner State Community College,0.6979,0.2259,0.0320,0.0084,0.0177,0.0014,0.0152,0.0007,0.0009

In [22]:
college.iloc[10: 16, col_start: col_end] # iloc 은 뒤에꺼 슬라이스 뺌

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Birmingham Southern College,0.7983,0.1102,0.0195,0.0517,0.0102,0.0000,0.0051,0.0000,0.0051
Chattahoochee Valley Community College,0.4661,0.4372,0.0492,0.0127,0.0023,0.0035,0.0151,0.0000,0.0139
Concordia College Alabama,0.0280,0.8758,0.0373,0.0093,0.0000,0.0000,0.0031,0.0466,0.0000
South University-Montgomery,0.3046,0.6054,0.0153,0.0153,0.0153,0.0096,0.0000,0.0019,0.0326
Enterprise State Community College,0.6408,0.2435,0.0509,0.0202,0.0081,0.0029,0.0254,0.0012,0.0069
James H Faulkner State Community College,0.6979,0.2259,0.0320,0.0084,0.0177,0.0014,0.0152,0.0007,0.0009

## 스칼라 더 빠르게 선택하기

- 스칼라 값을 iat, at 으로 더 빠르게 얻을 수 있다.
- df, series 에서 가능.

In [23]:
print(college.iloc[1,0])
print(college.iat[1, 0])

Birmingham
Birmingham

In [24]:
%timeit college.iloc[1,0]

23.6 µs ± 8.82 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [25]:
%timeit college.iat[1,0]

23.3 µs ± 2.23 µs per loop (mean ± std. dev. of 7 runs, 100000 loops each)

## 게으른 행 슬라이스

- iloc, loc 안 쓰고 행 슬라이스 가능
- iloc, loc 쓰는거 권장
- 열에서는 안됨, 행 열 동시선택도 안됨

In [26]:
college[10:20:2]

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
Birmingham Southern College,Birmingham,AL,0.0,0.0,0.0,1,560.0,560.0,0.0,1180.0,...,0.0051,0.0000,0.0051,0.0017,1,0.1920,0.4809,0.0152,44200,27000
Concordia College Alabama,Selma,AL,1.0,0.0,0.0,1,420.0,400.0,0.0,322.0,...,0.0031,0.0466,0.0000,0.1056,1,0.8667,0.9333,0.2367,19900,PrivacySuppressed
Enterprise State Community College,Enterprise,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,1729.0,...,0.0254,0.0012,0.0069,0.3823,1,0.4895,0.2263,0.3399,24600,8273
Faulkner University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,0.0,2367.0,...,0.0173,0.0182,0.0258,0.2302,1,0.5812,0.7253,0.4589,37200,22000
New Beginning College of Cosmetology,Albertville,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,115.0,...,0.0000,0.0000,0.0000,0.0783,1,0.8224,0.8553,0.3933,NaN,5500

In [27]:
city[10:20:2]

INSTNM
Birmingham Southern College              Birmingham
Concordia College Alabama                     Selma
Enterprise State Community College       Enterprise
Faulkner University                      Montgomery
New Beginning College of Cosmetology    Albertville
Name: CITY, dtype: object

In [28]:
college["Birmingham Southern College": "New Beginning College of Cosmetology" : 2]

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
Birmingham Southern College,Birmingham,AL,0.0,0.0,0.0,1,560.0,560.0,0.0,1180.0,...,0.0051,0.0000,0.0051,0.0017,1,0.1920,0.4809,0.0152,44200,27000
Concordia College Alabama,Selma,AL,1.0,0.0,0.0,1,420.0,400.0,0.0,322.0,...,0.0031,0.0466,0.0000,0.1056,1,0.8667,0.9333,0.2367,19900,PrivacySuppressed
Enterprise State Community College,Enterprise,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,1729.0,...,0.0254,0.0012,0.0069,0.3823,1,0.4895,0.2263,0.3399,24600,8273
Faulkner University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,0.0,2367.0,...,0.0173,0.0182,0.0258,0.2302,1,0.5812,0.7253,0.4589,37200,22000
New Beginning College of Cosmetology,Albertville,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,115.0,...,0.0000,0.0000,0.0000,0.0783,1,0.8224,0.8553,0.3933,NaN,5500

## 사전 순서로 슬라이스

- 인덱스가 정렬 되어 있을 경우에만 , 슬라이스 표기로 사전 순서대로 선택가능.
- 정렬 안되어 있으면 KeyError

In [29]:
college = college.sort_index()
college.loc["C": "F" : 200] # loc 슬라이스는 마지막 포함 하니까 이름이 정확히 F 인 거 까지 표기 가능

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
CALC Institute of Technology,Alton,IL,0.0,0.0,0.0,0,NaN,NaN,0.0,174.0,...,0.0230,0.0000,0.0057,0.9253,1,0.6509,0.4497,0.5721,PrivacySuppressed,8636
Carrington College-Albuquerque,Albuquerque,NM,0.0,0.0,0.0,0,NaN,NaN,0.0,586.0,...,0.0051,0.0000,0.0137,0.0956,1,0.7565,0.5266,0.5981,25100,9500
Cinta Aveda Institute,San Francisco,CA,0.0,0.0,0.0,0,NaN,NaN,0.0,241.0,...,0.0788,0.0000,0.0456,0.0000,1,0.1452,0.3738,0.4796,NaN,10556
Columbia University in the City of New York,New York,NY,0.0,0.0,0.0,0,735.0,745.0,0.0,8100.0,...,0.0468,0.1391,0.0391,0.0746,1,0.2141,0.2561,0.1744,75200,23000
Davenport University-Battle Creek Location,Battle Creek,MI,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,29000,27500
ECPI University-Raleigh,Raleigh,NC,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,20000
Empire Beauty School-Portsmouth,Portsmouth,NH,0.0,0.0,0.0,0,NaN,NaN,0.0,140.0,...,0.0000,0.0000,0.0000,0.2357,1,0.1156,0.1156,0.3654,19600,9833

In [30]:
college = college.sort_index(ascending= False) # 반대로 정렬되어 있어도 가능.
print(college.index.is_monotonic_decreasing) # monotonic 하게 increasing or decreasing 이면 가능.
college.loc["F": "C" : 200]

True

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
Expression College for Digital Arts,Emeryville,CA,0.0,0.0,0.0,0,NaN,NaN,0.0,445.0,...,0.0921,0.0112,0.3416,0.0000,1,0.5797,0.7736,0.3955,PrivacySuppressed,35662
Empire Beauty School-Jackson,Jackson,TN,0.0,0.0,0.0,0,NaN,NaN,0.0,78.0,...,0.0128,0.0000,0.0000,0.0000,1,0.9346,0.7843,0.3830,17900,9768.5
Downey Adult School,Downey,CA,0.0,0.0,0.0,0,NaN,NaN,0.0,1210.0,...,0.0000,0.0000,0.0000,0.6380,1,0.3773,0.0000,0.4381,NaN,PrivacySuppressed
D'Youville College,Buffalo,NY,0.0,0.0,0.0,0,500.0,515.0,0.0,1796.0,...,0.0200,0.0568,0.0200,0.1631,1,0.3421,0.6599,0.3099,48000,25500
Colorado Media School,Lakewood,CO,0.0,0.0,0.0,0,NaN,NaN,0.0,144.0,...,0.1111,0.0000,0.0278,0.0000,1,0.6840,0.8760,0.5829,27500,9500
Cheeks International Academy of Beauty Culture-Greeley,Greeley,CO,0.0,0.0,0.0,0,NaN,NaN,0.0,38.0,...,0.0000,0.0000,0.0000,0.3158,0,0.9773,0.9773,0.3590,15200,8206
Career Technical Institute,Washington,DC,0.0,0.0,0.0,0,NaN,NaN,0.0,607.0,...,0.0000,0.0000,0.0000,0.0000,1,0.7381,0.8610,0.7388,PrivacySuppressed,7917