# Chapter 1: Pandas 기초

## intro
- 데이터 과학
    - 파이프 라인에 담아 데이터 획득
    - 데이터 탐색 -> pandas
    - 머신러닝

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

- read_csv document : http://bit.ly/2vtJQ9A

In [6]:
movie = pd.read_csv(r'C:\Users\user\jupyterpractice\EDA\Pandas-Cookbook-master\data\movie.csv')

## axes
pandas는 Numpy의 표기 방식을 그대로 가져와 수직축/수평축을 0/1로 사용  
  
## head/tail
head(n)/tail(n) : n개 위에서/아래에서 미리보기

In [7]:
# 미리보기 head() / tail()
movie.head(3)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000

## DataFrame의 주요 구성 요소 이용
- DataFrame의 주요 성분인 index, column, data는 그 자체가 python 객체로서 고유한 attribute과 method를 가진다.

In [8]:
# 인덱스, 열, 데이터를 각각의 개별 변수에 할당한다. 
columns = movie.columns
index = movie.index # .index의 경우 전체 index에 대해 순차적으로 for loop를 수행하고 싶을 때 반복대상으로 사용됨
data = movie.values

In [9]:
# 구성요소 columns 표시
columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [10]:
# 구성요소 index 표시
index

RangeIndex(start=0, stop=4916, step=1)

In [11]:
# 구성요소 data 표시
data

array([['Color', 'James Cameron', 723.0, ..., 7.9, 1.78, 33000],
       ['Color', 'Gore Verbinski', 302.0, ..., 7.1, 2.35, 0],
       ['Color', 'Sam Mendes', 602.0, ..., 6.8, 2.35, 85000],
       ...,
       ['Color', 'Benjamin Roberds', 13.0, ..., 6.3, nan, 16],
       ['Color', 'Daniel Hsia', 14.0, ..., 6.3, 2.35, 660],
       ['Color', 'Jon Gunn', 43.0, ..., 6.6, 1.85, 456]], dtype=object)

In [12]:
# 구성 요소의 데이터 형식을 표시
print(type(index))
print()
print(type(columns))
print()
print(type(data))

# 형식 이름은 출력의 마지막 . 다음에 나타난 단어로,
# index의 형식은 RangeIndex : range객체니까 for loop 가능
# columns의 형식은 Index
# data의 형식은 ndarray

<class 'pandas.core.indexes.range.RangeIndex'>

<class 'pandas.core.indexes.base.Index'>

<class 'numpy.ndarray'>

In [13]:
# 위의 형식을 보면 index의 형식 Rangeindex와 columns의 형식 Index가 연관된 것으로 보임
# built-in method(내장 메서드)인 issubclass로 RangeIndex가 Index의 subclass인지 검사해보면 True이다.
issubclass(pd.RangeIndex, pd.Index)

True

## Index 객체에 대한 추가사항
- index 객체는 인덱스나 열로 사용될 수 있는 모든 객체를 지칭
- pd.Index의 subclass들
- RangeIndex는 Index객체의 특수한 형태로, python의 range객체와 유사함.
    - 전체 값을 메모리에 로드하지 않고, 필요에 따라 로드함 -> 메모리 절약 가능
- <u>**Index 객체는 빠른 선택과 정렬을 위해 hash table을 사용해 구현됨**</u>
    - 교집합, 합집합과 같은 연산을 지원하여 python의 set과 비슷
    - set과의 차이 : 중복허용, 순서존재
- http://bit.ly/2vm8f12

In [12]:
index.values

array([   0,    1,    2, ..., 4913, 4914, 4915])

In [13]:
columns.values

array(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'], dtype=object)

## 데이터 형식 이해하기

In [15]:
movie = pd.read_csv(r'C:\Users\user\jupyterpractice\EDA\Pandas-Cookbook-master\data\movie.csv')

In [21]:
# dtypes 속성(attribue) : 각 열의 형식을 표시
# http://bit.ly/2vxe8ZI
movie.dtypes

color                         object
director_name                 object
num_critic_for_reviews       float64
duration                     float64
director_facebook_likes      float64
actor_3_facebook_likes       float64
actor_2_name                  object
actor_1_facebook_likes       float64
gross                        float64
genres                        object
actor_1_name                  object
movie_title                   object
num_voted_users                int64
cast_total_facebook_likes      int64
actor_3_name                  object
facenumber_in_poster         float64
plot_keywords                 object
movie_imdb_link               object
num_user_for_reviews         float64
language                      object
country                       object
content_rating                object
budget                       float64
title_year                   float64
actor_2_facebook_likes       float64
imdb_score                   float64
aspect_ratio                 float64
movie_facebook_likes           int64
dtype: object

In [20]:
# movie.get_dtype_counts() -> Series에 대한 method임. DataFrame에 적용 시 에러 뜰 수 있음
movie.dtypes.value_counts() # 요게 DataFrame에 대한 method. 각 형식별로 개수를 구해줌
# http://bit.ly/2wq0qEH

float64    13
object     12
int64       3
dtype: int64

## 데이터 단일 열을 Series로 선택하기
- Series는 DataFrame의 단일 열로 1차원 데이터이고, 인덱스와 데이터로만 이뤄진다.
- Series 선택법
    1. indexing operator 인덱싱 연산자
    2. dot 표기법 (추천X)
- 작동원리
    - python은 data를 담기 위해 리스트/딕셔너리/튜플/데이터프레임 등의 내장 객체를 사용함
    - 이 4가지 모두 인덱싱 연산자를 사용해 데이터를 선택함
    - DataFrame의 인덱싱 연산자에 단일 문자열값을 지정 -> Series를 반환한다.
- 파이선이 인덱싱 연산자의 기능을 갖게 된 배경 : __getitem__ 특수 메서드에 대한 문서 참고 http://bit.ly/2u5ISN6

In [22]:
# 인덱싱 연산자에 열 이름을 문자열로 지정해 데이터 series 선택
movie['director_name']

0           James Cameron
1          Gore Verbinski
2              Sam Mendes
3       Christopher Nolan
4             Doug Walker
              ...
4911          Scott Smith
4912                  NaN
4913     Benjamin Roberds
4914          Daniel Hsia
4915             Jon Gunn
Name: director_name, Length: 4916, dtype: object

In [23]:
# [] 인덱싱 연산자 대신 .열이름 으로도 동일한 작동
movie.director_name

0           James Cameron
1          Gore Verbinski
2              Sam Mendes
3       Christopher Nolan
4             Doug Walker
              ...
4911          Scott Smith
4912                  NaN
4913     Benjamin Roberds
4914          Daniel Hsia
4915             Jon Gunn
Name: director_name, Length: 4916, dtype: object

In [24]:
# 뽑은 것이 Series가 맞는지 확인
type(movie['director_name'])

pandas.core.series.Series

## 점 표기법에 대한 추가사항
- jupyter notebook에서는 . dot 표기법 뒤에 shift + tab + tab을 하면 docsstrings 창이 나타나서 method를 편하게 사용할 수 있음
- 스택오버플로에서 자주 사용되기 때문
- 그러나 실제로 작업 중에는 사용 자제하자

In [25]:
director = movie['director_name'] # save Series to variable
director.name

'director_name'

### to_frame : Series -> 단일열의 DataFrame으로 변환

In [26]:
# to_frame method : Series를 단일 열을 가진 DataFrame으로 변환할 수 있음
director.to_frame().head()

       director_name
0      James Cameron
1     Gore Verbinski
2         Sam Mendes
3  Christopher Nolan
4        Doug Walker

## Series 메서드 호출
- dir 함수 : Series가 가진 모든 속성과 메서드들에 대해 알아볼 수 있다.
- 추가로 Series와 DataFrame에 공통된 일련의 속성, 메서드를 찾아볼 수 있음

In [23]:
s_attr_methods = set(dir(pd.Series))
len(s_attr_methods)

442

In [24]:
df_attr_methods = set(dir(pd.DataFrame))
len(df_attr_methods)

445

In [25]:
len(s_attr_methods & df_attr_methods)

376

## 다양한 Series method 살펴보기

In [27]:
director = movie['director_name']
actor_1_fb_likes = movie['actor_1_facebook_likes']

In [28]:
director.head()

0        James Cameron
1       Gore Verbinski
2           Sam Mendes
3    Christopher Nolan
4          Doug Walker
Name: director_name, dtype: object

In [28]:
actor_1_fb_likes.head()

0     1000.0
1    40000.0
2    11000.0
3    27000.0
4      131.0
Name: actor_1_facebook_likes, dtype: float64

####  출력 row 갯수 조절 : pd.set_option('max_rows', n)
####  출력 column 개수 조절 : pd.set_option('max_columns', n)
####  Series 객체 데이터 각 고유값의 빈도수 계산 : value_counts()

In [29]:
pd.set_option('max_rows', 8)
director.value_counts()

Steven Spielberg    26
Woody Allen         22
Clint Eastwood      20
Martin Scorsese     20
                    ..
James Nunn           1
Gerard Johnstone     1
Ethan Maniquis       1
Antony Hoffman       1
Name: director_name, Length: 2397, dtype: int64

In [29]:
# value_counts()를 수치로된 Series에 적용하니 알아서 천의 단위로 반올림을 하였음 
actor_1_fb_likes.value_counts()

1000.0     436
11000.0    206
2000.0     189
3000.0     150
12000.0    131
          ...
362.0        1
216.0        1
859.0        1
225.0        1
334.0        1
Name: actor_1_facebook_likes, Length: 877, dtype: int64

#### Series내의 원소 개수를 세기 : Series.size, Series.shape, len(Series)

In [30]:
print(director.size)
print(director.shape)
print(len(director))

4916
(4916,)
4916

#### 누락되지 않은 값의 개수 반환 : count

In [34]:
director.count()

4814

In [35]:
actor_1_fb_likes.count()

4909

#### 기초적인 통계 : min, max, mean, median, std, sum

In [31]:
actor_1_fb_likes.min(), actor_1_fb_likes.max(), \
actor_1_fb_likes.mean(), actor_1_fb_likes.median(), \
actor_1_fb_likes.std(), actor_1_fb_likes.sum()

(0.0, 640000.0, 6494.488490527602, 982.0, 15106.986883848185, 31881444.0)

#### 요약 통계의 집약적 표현 + 분위수 파악 : Series.describe()

In [32]:
actor_1_fb_likes.describe()

count      4909.000000
mean       6494.488491
std       15106.986884
min           0.000000
25%         607.000000
50%         982.000000
75%       11000.000000
max      640000.000000
Name: actor_1_facebook_likes, dtype: float64

In [33]:
director.describe()

count                 4814
unique                2397
top       Steven Spielberg
freq                    26
Name: director_name, dtype: object

#### 수치 데이터의 정확한 분위수 계산 : Series.quantile() (default는 0.5)

In [34]:
actor_1_fb_likes.quantile()

982.0

In [35]:
actor_1_fb_likes.quantile(.2)

510.0

In [36]:
actor_1_fb_likes.quantile([.1, .2, .3, .4, .5, .6, .7, .8, .9])

0.1      240.0
0.2      510.0
0.3      694.0
0.4      854.0
0.5      982.0
0.6     1000.0
0.7     8000.0
0.8    13000.0
0.9    18000.0
Name: actor_1_facebook_likes, dtype: float64

#### Series내의 누락값(결측치)이 있는지 직관적 확인 : Series.hasnans 속성
- 해당 Series에 누락값(결측치)가 있다면 True를, 없으면 False를 반환

In [46]:
director.hasnans

True

#### 누락값 확인 : Series.isnull() -> True or False 로 반환값을 줌

In [42]:
director.isnull()

0       False
1       False
2       False
3       False
        ...
4912     True
4913    False
4914    False
4915    False
Name: director_name, Length: 4916, dtype: bool

#### 누락값 수치로 확인 : Series.isnull().sum()

In [37]:
director.isnull().sum()

102

#### 누락값(결측치)가 아닌 것만 보기 : Series.notnull() <-> isnull()

In [47]:
director.notnull()

0        True
1        True
2        True
3        True
        ...
4912    False
4913     True
4914     True
4915     True
Name: director_name, Length: 4916, dtype: bool

#### 누락값(결측치)가 아닌 것들 수치로 확인 : Series.notnull().sum()

In [42]:
director.notnull().sum()

4814

#### 획일화된 결손치(누락값) 대체 : Series.fillna('value')

In [38]:
actor_1_fb_likes_filled = actor_1_fb_likes.fillna(0)
actor_1_fb_likes_filled.count()

4916

#### 결손치(누락값)을 가진 원소를 제거 : Series.dropna()

In [39]:
actor_1_fb_likes_dropped = actor_1_fb_likes.dropna()
actor_1_fb_likes_dropped.size

4909

#### value_counts()에 대한 추가 사항
- - 탐색 분석(특히 범주형 열)에 많이 사용됨
- default는 개수를 반환 -> normalize 매개변수를 True로 설정 시 상대 빈도가 반환되어 또 다른 분포를 확인할 수 있음

In [40]:
director.value_counts()

Steven Spielberg     26
Woody Allen          22
Martin Scorsese      20
Clint Eastwood       20
Ridley Scott         16
                     ..
Robert Duvall         1
Diane English         1
Katja von Garnier     1
Caryn Waechter        1
Leslye Headland       1
Name: director_name, Length: 2397, dtype: int64

In [41]:
director.value_counts(normalize=True)

Steven Spielberg     0.005401
Woody Allen          0.004570
Martin Scorsese      0.004155
Clint Eastwood       0.004155
Ridley Scott         0.003324
                       ...
Robert Duvall        0.000208
Diane English        0.000208
Katja von Garnier    0.000208
Caryn Waechter       0.000208
Leslye Headland      0.000208
Name: director_name, Length: 2397, dtype: float64

## Series에 연산자 사용하기
- 원래는 for loop를 사용해 원소 하나당 한번씩 모두 연산을 적용해야하지만 Series 단위로 적용한 것은?
    - pandas는 Numpy 라이브러리 기반임
    - Numpy는 명시적으로 for-loop를 사용하지 않고도 벡터 연산이 가능하게끔 구현되어 있음
    - 각 연산은 같은 인덱스를 가진 Series를 반환하되, 연산자에 의해 값이 변경되어 있는 Series를 반환함

In [48]:
pd.options.display.max_rows = 6

In [55]:
7 in [1, 2, 6] # in 연산자

False

In [56]:
set([1,2,3]) & set([2,3,4]) # 교집합 연산

{2, 3}

In [58]:
a = set([1,2,3])     # 집합에 대해서는 indexing이 안됨
a[0]

TypeError: 'set' object does not support indexing

In [43]:
imdb_score = movie['imdb_score']
imdb_score

0       7.9
1       7.1
2       6.8
3       8.5
4       7.1
       ...
4911    7.7
4912    7.5
4913    6.3
4914    6.3
4915    6.6
Name: imdb_score, Length: 4916, dtype: float64

In [60]:
imdb_score + 1

0       8.9
1       8.1
2       7.8
       ...
4913    7.3
4914    7.3
4915    7.6
Name: imdb_score, Length: 4916, dtype: float64

In [61]:
imdb_score * 2.5

0       19.75
1       17.75
2       17.00
        ...
4913    15.75
4914    15.75
4915    16.50
Name: imdb_score, Length: 4916, dtype: float64

In [62]:
imdb_score // 7

0       1.0
1       1.0
2       0.0
       ...
4913    0.0
4914    0.0
4915    0.0
Name: imdb_score, Length: 4916, dtype: float64

In [63]:
imdb_score > 7

0        True
1        True
2       False
        ...
4913    False
4914    False
4915    False
Name: imdb_score, Length: 4916, dtype: bool

In [64]:
director = movie['director_name']

In [65]:
director == 'James Cameron'

0        True
1       False
2       False
        ...
4913    False
4914    False
4915    False
Name: director_name, Length: 4916, dtype: bool

## 사칙연산과 동일한 기능을 하는 메서드
- Series.add(value) --->  +
- Series.mul(value) --->  *
- Series.floordiv(value) --->  //
- Series.gt(value) --->  '>' 부등호
- Series.eq(value) --->  '==' 연산자

연산자 그룸|연산자|Series method 이름  
------|-----|-------  
연산|+, -, * , / , // , % , ** |add, sub, mul, div, floordiv, mod, pow  
비교 | <, >, <=, >=, ==, != | lt, gt, le, ge, eq, ne  

- 연산자나 특수 메서드나 기능은 동일함. 
    - 연산자는 단지 특수 메서드에 대한 문법적인 수사나 치장에 불과함
    - 연산자에 대한 공식 문서 : http://bit.ly/2wpOId8
    - 데이터 모델에 대한 공식 문서(특수 메서드) : http://bit.ly/2v0LrDd

In [66]:
imdb_score.add(1)              # imdb_score + 1

0       8.9
1       8.1
2       7.8
       ...
4913    7.3
4914    7.3
4915    7.6
Name: imdb_score, Length: 4916, dtype: float64

In [67]:
imdb_score.mul(2.5)            # imdb_score * 2.5

0       19.75
1       17.75
2       17.00
        ...
4913    15.75
4914    15.75
4915    16.50
Name: imdb_score, Length: 4916, dtype: float64

In [68]:
imdb_score.floordiv(7)         # imdb_score // 7

0       1.0
1       1.0
2       0.0
       ...
4913    0.0
4914    0.0
4915    0.0
Name: imdb_score, Length: 4916, dtype: float64

In [69]:
imdb_score.gt(7)               # imdb_score > 7

0        True
1        True
2       False
        ...
4913    False
4914    False
4915    False
Name: imdb_score, Length: 4916, dtype: bool

In [70]:
director.eq('James Cameron')   # director == 'James Cameron'

0        True
1       False
2       False
        ...
4913    False
4914    False
4915    False
Name: director_name, Length: 4916, dtype: bool

In [71]:
imdb_score.astype(int).mod(5)

0       2
1       2
2       1
       ..
4913    1
4914    1
4915    1
Name: imdb_score, Length: 4916, dtype: int64

In [72]:
a = type(1)

In [73]:
type(a)

type

In [74]:
a = type(imdb_score)

In [75]:
a([1,2,3])

0    1
1    2
2    3
dtype: int64

## method chaining 
- 점 표기법을 사용하여 메서드를 연속적으로 호출하는 것 = 메서드 체인 = method chaining
- Series나 DataFrame 메서드가 또 다른 Series나 DataFrame을 반환하므로 연속적 메서드 적용이 가능함
- 모든 python 객체는 method chaining이 가능함

In [44]:
actor_1_fb_likes = movie['actor_1_facebook_likes']
director = movie['director_name']

In [45]:
director.value_counts().head(3)

Steven Spielberg    26
Woody Allen         22
Martin Scorsese     20
Name: director_name, dtype: int64

In [78]:
actor_1_fb_likes.isnull().sum()

7

In [79]:
actor_1_fb_likes.dtype

dtype('float64')

In [80]:
actor_1_fb_likes.fillna(0)\
                .astype(int)\
                .head()

0     1000
1    40000
2    11000
3    27000
4      131
Name: actor_1_facebook_likes, dtype: int64

#### isnull().mean() : 누락된 값의 %를 구할 수 있음

In [46]:
actor_1_fb_likes.isnull().mean()

0.0014239218877135883

In [82]:
(actor_1_fb_likes.fillna(0)
                 .astype(int)
                 .head())

0     1000
1    40000
2    11000
3    27000
4      131
Name: actor_1_facebook_likes, dtype: int64

## 인덱스 조작 - 의미있는 인덱스의 생성
- DataFrame 생성 시 명시적인 인덱스를 제공하지 않으면 default로 RangeIndex가 생성되어 0~n-1의 정수를 부여함 (n : 전체 행의 개수)

In [47]:
movie.shape

(4916, 28)

In [50]:
movie2 = movie.set_index('movie_title')
movie2.head(3)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
Avatar,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
Spectre,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000

In [49]:
# 초기에 data set을 읽어 들일 때 아예 index_col 매개변수로 인덱스 지정할 수도 있음. 
pd.read_csv(r'C:\Users\user\jupyterpractice\EDA\Pandas-Cookbook-master\data\movie.csv', index_col='movie_title')

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
Avatar,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
Spectre,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
The Dark Knight Rises,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
Star Wars: Episode VII - The Force Awakens,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Signed Sealed Delivered,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
The Following,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
A Plague So Pleasant,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
Shanghai Calling,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
My Date with Drew,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

#### 매개변수 지정 없는 DataFrame.reset_index() : 새로운 정수형 인덱스 제공
- drop=True 지정하지 않으면 기존의 index가 첫번째 column으로 이동됨

In [87]:
movie2.reset_index()

,movie_title,color,director_name,num_critic_for_reviews,...,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Avatar,Color,James Cameron,723.0,...,936.0,7.9,1.78,33000
1,Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,...,5000.0,7.1,2.35,0
2,Spectre,Color,Sam Mendes,602.0,...,393.0,6.8,2.35,85000
...,...,...,...,...,...,...,...,...,...
4913,A Plague So Pleasant,Color,Benjamin Roberds,13.0,...,0.0,6.3,NaN,16
4914,Shanghai Calling,Color,Daniel Hsia,14.0,...,719.0,6.3,2.35,660
4915,My Date with Drew,Color,Jon Gunn,43.0,...,23.0,6.6,1.85,456

# row and column 이름 다시 짓기 
1. dictionary 이용 -> columns 수가 많은데 몇개만 바꿀 경우엔 이게 best
    - key값은 before, value값은 after 명칭임
2. columns 같은 경우엔, columns 개수가 적을 경우 DataFrame.columns = [새로운 이름의 리스트]로 설정 가능
    - 아래의 추가 방법과도 같은 원리임
    - 다만 이때, 원래의 DataFrame.columns 리스트 객체와 길이가 같아야 함. 리스트를 대체하는 것이기 때문임.
        - 즉, 리스트가 행과 열의 레이블과 동일한 개수의 원소를 갖고 있을 때 작동함

In [57]:
movie = pd.read_csv(r'C:\Users\user\jupyterpractice\EDA\Pandas-Cookbook-master\data\movie.csv', index_col='movie_title')

In [58]:
# dictionary를 이용한 방법
idx_rename = {'Avatar':'Ratava', 'Spectre': 'Ertceps'} 
col_rename = {'director_name':'Director Name', 
              'num_critic_for_reviews': 'Critical Reviews'}

In [69]:
movie.rename(index=idx_rename, 
             columns=col_rename).head(3)

,CCCC,ㅠㅠㅠ,Critical Reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
Ratava,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
Ertceps,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000

In [61]:
movie = pd.read_csv(r'C:\Users\user\jupyterpractice\EDA\Pandas-Cookbook-master\data\movie.csv', index_col='movie_title')

In [62]:
# DataFrame.columns를 이용한 방법
movie.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'num_voted_users', 'cast_total_facebook_likes', 'actor_3_name',
       'facenumber_in_poster', 'plot_keywords', 'movie_imdb_link',
       'num_user_for_reviews', 'language', 'country', 'content_rating',
       'budget', 'title_year', 'actor_2_facebook_likes', 'imdb_score',
       'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [65]:
movie.columns = ['CCCC', 'ㅠㅠㅠ', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'num_voted_users', 'cast_total_facebook_likes', 'actor_3_name',
       'facenumber_in_poster', 'plot_keywords', 'movie_imdb_link',
       'num_user_for_reviews', 'language', 'country', 'content_rating',
       'budget', 'title_year', 'actor_2_facebook_likes', 'imdb_score',
       'aspect_ratio', 'movie_facebook_likes']

In [67]:
movie.head(1)

,CCCC,ㅠㅠㅠ,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
Avatar,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000

#### 행/열 이름을 바꾸는 추가적인 방법 : 기존에 사용하던 방법(행/열의 속성을 python list에 바로 지정)의 진화판

In [71]:
movie = pd.read_csv(r'C:\Users\user\jupyterpractice\EDA\Pandas-Cookbook-master\data\movie.csv', index_col='movie_title')
index = movie.index
columns = movie.columns

# 인덱스 객체에 tolist 메서드를 사용 -> python의 label list를 생성
index_list = index.tolist()
column_list = columns.tolist()

# label list의 값을 수정하고 
index_list[0] = 'Ratava'
index_list[2] = 'Ertceps'
column_list[1] = 'Director Name'
column_list[2] = 'Critical Reviews'

In [72]:
print(index_list[:5])

['Ratava', "Pirates of the Caribbean: At World's End", 'Ertceps', 'The Dark Knight Rises', 'Star Wars: Episode VII - The Force Awakens']

In [73]:
print(column_list)

['color', 'Director Name', 'Critical Reviews', 'duration', 'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name', 'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name', 'num_voted_users', 'cast_total_facebook_likes', 'actor_3_name', 'facenumber_in_poster', 'plot_keywords', 'movie_imdb_link', 'num_user_for_reviews', 'language', 'country', 'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes', 'imdb_score', 'aspect_ratio', 'movie_facebook_likes']

In [74]:
movie.index = index_list
movie.columns = column_list

In [76]:
movie.head(3)

,color,Director Name,Critical Reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
Ratava,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
Ertceps,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000

## 컬럼의 생성과 삭제

In [77]:
movie = pd.read_csv(r'C:\Users\user\jupyterpractice\EDA\Pandas-Cookbook-master\data\movie.csv')

In [78]:
movie['has_seen'] = 0

In [79]:
movie.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes', 'has_seen'],
      dtype='object')

In [80]:
movie['actor_director_facebook_likes'] = (movie['actor_1_facebook_likes'] + 
                                              movie['actor_2_facebook_likes'] + 
                                              movie['actor_3_facebook_likes'] + 
                                              movie['director_facebook_likes'])

In [81]:
movie['actor_director_facebook_likes'].isnull().sum()

122

In [82]:
movie['actor_director_facebook_likes'] = movie['actor_director_facebook_likes'].fillna(0)

In [83]:
movie['is_cast_likes_more'] = (movie['cast_total_facebook_likes'] >= 
                                  movie['actor_director_facebook_likes'])

In [84]:
movie['is_cast_likes_more'].all()

False

In [85]:
movie = movie.drop('actor_director_facebook_likes', axis='columns') # 행의 drop은 axis=0, 열의 drop은 axis=1로 하는 것이 더 용이함

In [86]:
movie['actor_total_facebook_likes'] = (movie['actor_1_facebook_likes'] + 
                                       movie['actor_2_facebook_likes'] + 
                                       movie['actor_3_facebook_likes'])

movie['actor_total_facebook_likes'] = movie['actor_total_facebook_likes'].fillna(0)

In [87]:
movie['is_cast_likes_more'] = movie['cast_total_facebook_likes'] >= \
                                  movie['actor_total_facebook_likes']
    
movie['is_cast_likes_more'].all()

True

In [88]:
movie['pct_actor_cast_like'] = (movie['actor_total_facebook_likes'] / 
                                movie['cast_total_facebook_likes'])

In [89]:
movie['pct_actor_cast_like'].min(), movie['pct_actor_cast_like'].max()

(0.0, 1.0)

In [90]:
movie.set_index('movie_title')['pct_actor_cast_like'].head()

movie_title
Avatar                                        0.577369
Pirates of the Caribbean: At World's End      0.951396
Spectre                                       0.987521
The Dark Knight Rises                         0.683783
Star Wars: Episode VII - The Force Awakens    0.000000
Name: pct_actor_cast_like, dtype: float64

#### insert 메서드
- inplace 따로 안해도 원본 파괴형임
- 새 column을 DataFrame의 마지막이 아니라 특정 위치에 끼워 넣을 수 있음. 
- DataFrame.insert(loc=새 칼럼의 위치(정수), column='새 칼럼의 이름', value=값)
- 이 때, loc=새 칼럼이 들어갈 위치를 모르겠다면?
    - get_loc 메서드를 사용! 칼럼 이름의 정수 위치를 찾을 수 있음

In [91]:
profit_index = movie.columns.get_loc('gross') + 1
profit_index
# 들어갈 위치(정수) = profit_index = 9

9

In [92]:
movie.insert(loc=profit_index, # profit_index는 새롭게 들어갈 위치로, 정수 9의 값임
                 column='profit', # 들어갈 때 가질 column의 이름임
                 value=movie['gross'] - movie['budget']) # 값은 기존의 컬럼들의 계산이 value로 들어가도 상관없고, 일련의 값이어도 됨

In [93]:
movie.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,profit,...,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,has_seen,is_cast_likes_more,actor_total_facebook_likes,pct_actor_cast_like
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,523505847.0,...,237000000.0,2009.0,936.0,7.9,1.78,33000,0,True,2791.0,0.577369
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,9404152.0,...,300000000.0,2007.0,5000.0,7.1,2.35,0,0,True,46000.0,0.951396
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,-44925825.0,...,245000000.0,2015.0,393.0,6.8,2.35,85000,0,True,11554.0,0.987521
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,198130642.0,...,250000000.0,2012.0,23000.0,8.5,2.35,164000,0,True,73000.0,0.683783
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,NaN,...,NaN,NaN,12.0,7.1,NaN,0,0,True,0.0,0.000000